/* 滾動條整體樣式 */
.commands-container {
max-height: 600px;
overflow-y: auto;
scrollbar-width: thin; /* 定義滾動條寬度 */
scrollbar-color: #4A5568 #EDF2F7; /* 定義滾動條顏色 */
}

/* 滾動條軌道 */
.commands-container::-webkit-scrollbar {
width: 8px; /* 滾動條寬度 */
}

/* 滾動條滑塊 */
.commands-container::-webkit-scrollbar-thumb {
background-color: #4A5568; /* 滑塊背景顏色 */
border-radius: 4px; /* 滑塊圓角 */
}

/* 滾動條滑塊懸停時樣式 */
.commands-container::-webkit-scrollbar-thumb:hover {
background-color: #2D3748; /* 滑塊懸停時的背景顏色 */
}

/* 標題樣式 */
.banner {
color: #ffffff;
padding: 10vh 2rem;
text-align: center;
margin-bottom: 2rem;
background-position: center; /* 將圖片置中 */
background-size: cover; /* 調整圖片大小以填滿容器 */
}

.title {
font-size: 3rem;
font-weight: bold;
margin-bottom: 1rem;
}

.description {
font-size: 1.5rem;
margin-bottom: 1rem;
}

/* 搜索框和下拉式選單樣式 */
.search-container {
display: flex;
align-items: center;
justify-content: flex-end;
margin-bottom: 2rem;
justify-content: center; /* 水平置中 */
align-items: center; /* 垂直置中 */
}

input[type="text"] {
padding: 1rem;
font-size: 1rem;
border: 2px solid #ccc;
border-radius: 4px;
width: 60%; /* 調整寬度 */
max-width: 300px; /* 調整最大寬度 */
box-sizing: border-box;
color: #282828; /* 調整文字顏色 */
background-color: #f8f9fa; /* 調整搜索框背景色 */
margin-right: 1rem; /* 添加右邊間距 */
}

select {
padding: 1rem;
font-size: 1rem;
border: 1px solid #ccc;
border-radius: 4px;
cursor: pointer;
background-color: #e7e7e7; /* 修改背景顏色 */
color: #000000;
transition: background-color 0.3s ease;
width: 40%; /* 調整寬度 */
max-width: 150px; /* 調整最大寬度 */
}

input[type="text"]:focus {
outline: none;
border-color: #b3b3b3; 
}

select:hover {
background-color: #ffffff; /* 滑鼠懸停時的背景色 */
}


/* 指令列表樣式 */
.commands-container {
text-align: left; /* 左對齊 */
max-width: 600px; /* 最大寬度 */
margin: 0 auto; /* 水平居中 */
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.li {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #1a202c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer; /* 設置為可點擊 */
}
  
.li:hover {
    background-color: #1f2f48; /* 滑鼠懸停時的背景色 */
}

.li strong {
    font-weight: bold;
    color: #2b6cb0;
}