@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局樣式 */
:root {
    --primary-bg-color: #1a202c;
    --primary-text-color: #fff;
    --font-family: 'Noto Sans TC', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

/* 全局重置 */
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
    padding: 0;
}

/* 標題字體設置 */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* 共用連結設置 */
a {
    text-decoration: none;
    color: inherit; /* 確保連結繼承父元素顏色 */
}

/* 頁尾設置 */
footer {
    @apply h-36 text-sm mx-auto;
}

footer .container {
    @apply mx-auto;
}

/* 頁面部分背景圖片設置 */
#section-1, #section-2, #section-3, #section-4 {
    @apply h-screen w-full bg-fixed bg-cover;
}

.typing-text {
    overflow: hidden; /* 確保文字不會一次性顯示出來 */
    white-space: nowrap; /* 確保文字不會換行 */
    animation: typing 5s steps(20, end); /* 設置動畫效果 */
  }
  
  @keyframes typing {
    from { width: 0; } /* 文字開始時寬度為0 */
    to { width: 100%; } /* 文字結束時寬度為100% */
  }
  